*.obj
*.ply
*.txt
*.xyz
*.png
*.jpg
.vscode/
data/
__pycache__/
*.pyc
*.mtl
models/__pycache__/
datasets/__pycache__/
.ipynb_checkpoints/
logs/
trained_model/
saved_obj/
*.ipynb
configs/
test.py
tmp/
refined*/
*ret*/
*.npy
*.mp4
*.binvox
